{% extends "base.html" %} {% block title %}About{% endblock %} 
{% block content%}
<h1>About</h1>
<br>
<h2>Objetivo Empresarial:</h2>
<p>El objetivo de ES TRADE es ofrecer a la industria latinoamericana, una solución confiable, oportuna, eficiente, y amigable a las compras internacionales de equipos y productos con un modelo todo en uno, o sea que ES TRADE se encarga de todo el proceso de compra y entrega de los productos. El propósito de ES TRADE es brindar a cada cliente el más alto nivel de servicio
y convertirlo en un activo valioso para sus negocios, ahorrando tiempo y dinero a sus clientes.</p>
<h2>Valores Empresariales:</h2>
<p>Entre los valores empresariales de ES TRADE están la excelencia, la adaptabilidad, la diligencia, y el servicio al cliente. El conocimiento, experiencia y actitud de servicio de ES TRADE le ha permitido desarrollar relaciones duraderas con todos sus clientes, sin importar cuán grandes o pequeños sean, y resolver sus necesidades de compras internacionales de una manera eficiente
    y personalizada.</p>
<h2>Antecedentes Empresariales:</h2>
<p>ES TRADE es una empresa legalmente establecida en los Estados Unidos, con base de
    operaciones en Miami, Florida (principal puerta de entrada de comercialización de los Estados
    Unidos y un centro internacional de negocios). ES TRADE fue fundada en 2016, aunque su
    experiencia y conocimiento de los equipos y productos especializados para la industria es de
    más de 25 años, ya que su Director de Ventas Internacionales trabajo por muchos años con
    empresas multinacionales como Schneider Electric y Cutler Hammer, atendiendo pequeñas y
    grandes industrias en el área Centroamericana.</p>

{% endblock %}