{% extends "base.html" %} {% block title %}Frequently Asked Questions{% endblock %} 
{% block content%}
<div class="faq-container">
    <h2>Frequently Asked Questions</h2>
    <br>
    <div class="faq-question-answer">
      <h3>What countries do you ship to?</h3>
      <p>We ship to most countries worldwide. If you have a specific destination in mind, please contact us through our website's contact form, and a sales representative will assist you.</p>
    </div>
    <div class="faq-question-answer">
      <h3>How do I track my shipment?</h3>
      <p>Once your shipment has been dispatched, you will receive a tracking number via email. You can track your shipment on our website or through the carrier's website using this tracking number.</p>
    </div>
    <div class="faq-question-answer">
      <h3>How long does it take for my shipment to be delivered?</h3>
      <p>Delivery times vary depending on the destination, shipping method, and other factors. A sales representative will be able to provide you with an estimated delivery time after reviewing your shipment details.</p>
    </div>
    <!-- Additional FAQs -->
  </div>  
{% endblock %}